.banner__slider {
    position: absolute;
    bottom: 2%;
    right: 5%;
    // max-width: clamp(26.875rem, 19.425rem + 37.25vw, 64.125rem);
    max-width: clamp(25rem, 4.99rem + 47.79vw, 64.125rem);
    overflow: hidden;

    @include mediaMobile {
        max-width: clamp(9.375rem, 6.518rem + 14.29vw, 12.5rem);
    }
}


.card__body {
    clip-path: polygon(9% 0, 90% 0, 100% 18%, 100% 82%, 91% 100%, 9% 100%, 0 82%, 0 18%);
    background: red;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.card__blur {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    // fill: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(5px);
}

.card__title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $text-color;
    font-size: 18px;
    font-weight: 600;
}

.card__border {
    position: absolute;
    z-index: 1;
    top: 6%;
    left: 2%;
    right: 2%;
    max-width: 100%;
    max-height: 100%;
}

.card__img {
    width: 100%;
    height: 100%;

    & img {
        width: 100%;
        height: 100%;
    }
}

.card__bottom-pseudo::after {
    content: " ";

    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    right: 1px;
    background-image: url(/img/sliders/headerSlider/bottomRight.png);
    bottom: 1px;
}

.card__top-pseudo::after {
    content: " ";

    background-image: url(/img/sliders/headerSlider/topRight.png);
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    right: 1px;
    top: 1px;
}


.card__bottom-pseudo::before {
    content: " ";

    background-image: url(/img/sliders/headerSlider/bottomLeft.png);
    display: block;
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
}

.card__top-pseudo::before {
    content: " ";

    background-image: url(/img/sliders/headerSlider/topLeft.png);
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
}