

.swiper{
    max-width: 1026px;
    height: 261px;
    position: absolute;
    top: 73%;
    right: 42px;
}

.header-slider__box{
    display: flex;
    gap: 36px;
}

.header-slider__item{
    width: 498px;
    height: 281px;
}