
// //Fonts
// $font-main: 'Raleway', sans-serif;
// $font-primary: 'Playfair Display', serif;
// $font-secondary:'Roboto', sans-serif;

// Colors
// $main-color: #242B33;
// $primary-color: #D4C17F;
// $secondary-color: #2D343C;
$linkColor: #DCC152;
$text-color: #fff;
// $input-color: rgba(255, 255, 255, 0.199);
// $text-input-color: #BEBEBE;

//Font-size


//Media
$tablet: 999px;
$mobile: 670px;